<div class="p-col-12 p-md-4">
  <div class="p-inputgroup">
    <span class="p-float-label p-input-icon-right" style="margin-top:2vw;">
      <i class="pi pi-user"></i>
      <input id="float-input" type="text" pInputText> 
      <label for="float-input">Nome</label>
    </span>
  </div>
</div>
<div class="p-col-12 p-md-4">
  <div class="p-inputgroup">
    <span class="p-float-label p-input-icon-right" style="margin-top:2vw;">
      <i class="pi pi-envelope"></i>
      <input id="float-input" type="text" pInputText> 
      <label for="float-input">E-mail</label>
    </span>
  </div>
</div>
<button pButton type="button" class="p-button-rounded p-ripple p-button p-button-success p-component" style="margin-top:2vw">
  <span class="p-button-label">Salvar</span>
</button>